body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.g{
  color: darkviolet;
}
.n{
  color: #777;
}
.d{
  color: dodgerblue;
}
strong{
  /*font-weight: bold;
  color: orange;*/
  font-weight: normal;
  border: 1px dashed;
  border-radius: 3px;
  background-color: rgba(0,0,0,5%);
}
.result{
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #000;
}
.result:hover{
  border-color: #000;
  color: #000;
}
.result-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.break-inline{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.break-inline>*{
  display: inline-block;
}
@media (max-width: 480px) {
  .break-inline{
    word-break: break-all;
  }
}
audio{
  min-height: 50px;
}
.audio-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.component-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  text-align: center;
}
@media (max-width: 480px) {
  .component-container{
    padding: 0 10px;
  }
  .ant-layout-header{
    padding: 0 10px;
  }
}